body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

h2 {
  color: #4b5320;
}
section {
  margin-bottom: 3rem;
}

[data-tab-content] {
  display: none;
}

.active [data-tab-content] {
  display: block;
}

.tab {
  padding: 10px;
  cursor: pointer;
}

.tab:hover {
  color: rgb(209, 50, 10);
  text-shadow: 1px 1px 15px lightblue;
}

.tab.active {
  border: thin solid aqua;
  border-radius: 5px;
  padding: 8px;
  color: rgb(235, 148, 34);
  text-shadow: 1px 1px 15px lightblue;
}

@media (max-width: 480px) {
  .tab.active {
    border: none;
    padding: 8px;
   color: rgb(235, 148, 34);
    text-shadow: 1px 1px 15px lightblue;
  }
}
